@page "/Admin"
@inject NavigationManager NavigationManager
@inject IJSRuntime runtime;
@namespace KroellsManagement.Classes
@using Microsoft.AspNetCore.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Page</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
	<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="~/css/site.css">

</head>
<body>

	<div class="divert">
		<button @onclick="GetAccounts" class="button">Accounts</button>
		<button @onclick="GetAddresses" class="button">Addresses</button>
		<button @onclick="GetCards" class="button">Cards</button>
		<button @onclick="GetClients" class="button">Clients</button>
		<button @onclick="GetCprs" class="button">CPRs</button>
		<button @onclick="GetEmployees" class="button">Employees</button>
		<button @onclick="GetJobs" class="button">Jobs</button>
		<button @onclick="GetLoans" class="button">Loans</button>
		<button @onclick="GetTransactions" class="button">Transactions</button>
	</div>

	<div class="editbar">
		<button @onclick="Create" class="button">Create</button>
		<button @onclick="EditLock" class="button">Edit Lock</button>
	</div>
	<div id="Table Container">
	</div>
	<table id="table" class="table table-striped" style="width:100%">
		<thead>
			<tr id="header">
				<th id="header1">1</th>
				<th id="header2">2</th>
				<th id="header3">3</th>
				<th id="header4">4</th>
				<th id="header5">5</th>
				<th id="header6">6</th>
				<th id="header7">7</th>
				<th>Buttons</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			<tr>
				<td class="ta-bleContent">1</td>
				<td contenteditable="@_editing" class="tableContent">$1,000.00</td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td><button @onclick="Delete" class="button" id="table">Delete</button></td>
			</tr>
			<tr>
				<td class="tableContent">2</td>
				<td contenteditable="@_editing" class="tableContent">$500.00</td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td contenteditable="@_editing" class="tableContent"></td>
				<td><button @onclick="Delete" class="button" id="table">Delete</button></td>

			</tr>
				@for (int i = 0; i < currentTable.Count; i++)
				{
					Model.Properties.Current current = (Model.Properties.Current)currentTable[i];

					<tr>
						<td contenteditable="@_editing" @oninput="() => UpdateDatabase(i)" class="tableContent">@current.One</td>
						<td contenteditable="@_editing" class="tableContent">@current.Two</td>
						<td contenteditable="@_editing" class="tableContent">@current.Three</td>
						<td contenteditable="@_editing" class="tableContent">@current.Four</td>
						<td contenteditable="@_editing" class="tableContent">@current.Five</td>
						<td contenteditable="@_editing" class="tableContent">@current.Six</td>
						<td contenteditable="@_editing" class="tableContent">@current.Seven</td>
						<td><button  class="button">Delete</button></td>
					</tr>
				}
		</tbody>
		<tfoot>
			<tr id="footer">
				<th id="footer1">1</th>
				<th id="footer2">2</th>
				<th id="footer3">3</th>
				<th id="footer4">4</th>
				<th id="footer5">5</th>
				<th id="footer6">6</th>
				<th id="footer7">7</th>
				<th>Buttons</th>
			</tr>
		</tfoot>
	</table>

</body>
</html>


@code {

	/// <summary>
	/// This first part of the scope has a lot of methods, which gets called by only 1 button, from the user-interface.
	/// Each method identifies a new button, using the button object, and gives the button a name.
	/// Once the button has a name, it calls the ButtonController class, which needs 2 parameters.
	/// It needs to know the button and a boolean value if its editing or not.
	///
	/// Editing refers to the creating and deleting tables.
	///
	/// The EditLock button is a bit different, because it doesnt need to be identified and it has its own method in the ButtonController class.
	/// </summary>

	Model.Database database = new Model.Database();

	private void GetAccounts()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Accounts";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetAddresses()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Addresses";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetCards()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Cards";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetClients()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Clients";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetCprs()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "CPRs";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetEmployees()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Employees";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetJobs()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Jobs";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetLoans()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Loans";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private void GetTransactions()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Transactions";
		CallJS(button.ButtonName);
		controller.TableHandler(button);
		ConvertToRow(database.GetTable(button));
	}

	private string _currentlyDisplayed;
	private int _id;

	private void Delete()
	{
		Model.Properties.Button button = new Model.Properties.Button();
		button.ButtonName = "Delete";
		controller.TableHandler(button);

		// DATABASE DELETE ROW, IDENTIFY ROW


		// REFRESH
	}

	public async Task UpdateDatabase(int rowValue)
	{
		
	}


	// Creates a boolean variable to keep track of the current edit state.
	private bool _editing;

	Controllers.ButtonController controller = new Controllers.ButtonController();

	private void EditLock()
	{
		// Changes the edit state, inside the ButtonController
		_editing = controller.EditLock(_editing);
	}

	/// <summary>
	///
	/// </summary>

	private List<Model.TableBlueprint> currentTable = new List<Model.TableBlueprint>();
	/// <summary>
	/// This method calls a javascript function, to delete the shown table
	/// </summary>
	private async Task CallJS(string button)
	{
		await runtime.InvokeVoidAsync("Entry", button);
		//await runtime.InvokeVoidAsync("DeleteAll");
	}

	private async Task Create()
	{
		await runtime.InvokeVoidAsync("AddRow");
	}

	private void ConvertToRow(List<string[]> data)
	{
		foreach (string[] array in data)
		{
			Model.Properties.Current current = new();

			byte length = (byte)array.Length;

			current.One = array[0];
			current.Two = array[1];
			current.Three = array[2];

			if (length > 3)
			{
				current.Four = array[3];

				if (length > 4)
				{
					current.Five = array[4];

					if (length > 5)
					{
						current.Six = array[5];

						if (length > 6)
						{
							current.Seven = array[6];
						}
					}
				}
			}

			currentTable.Add(current);
		}
	}
}
